{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block heading %}Database Dashboard{% endblock %}

{% block content %}
    {% if tables %}
        {% for table_name, table_data in tables.items() %}
            <details>
                <summary>Table: {{ table_name }}</summary>
                <table border="1">
                    <tr>
                        {% for column in table_data.columns %}
                            <th>{{ column if column != 'dom' else 'modification_date' }}</th>
                        {% endfor %}
                    </tr>
                    {% for row in table_data.rows %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </details>
        {% endfor %}
    {% else %}
        <p>No data available.</p>
    {% endif %}
    <div class="redirect-buttons">
        {% if session['user_email'] in admin_emails %}
            <form action="/admin" method="GET">
                <button type="submit" class="redirect-btn">Go to Admin Panel</button>
            </form>
        {% endif %}
        <form action="/manage" method="GET">
            <button type="submit" class="redirect-btn">Go to Manage</button>
        </form>
        <form action="/modify" method="GET">
            <button type="submit" class="redirect-btn">Go to Modify</button>
        </form>
    </div>
{% endblock %}
